<div class="container card-container">
  <div class="card">
    <img class="card-img-top card-img" src="../.././assets/checked.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SUCCESS</h5>
      <p class="card-text">Your details are saved successfully</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{name}}</li>
      <li class="list-group-item">{{email}}</li>
      <li class="list-group-item">{{address}}</li>
    </ul>
    <div class="card-body">
      <a href="" class="card-link card-body-button">Go Back to Home</a>
    </div>
  </div>
</div>
