<div class="container grid">
  <div class="row grid-row">
    <div class="col grid-item">
      <div class="d-flex grid-item-title">
        <a class="link" [routerLink]="['/forms']">Forms </a>
      </div>
      <img class="grid-item-icon" src="../../../assets/text-field.png">
    </div>
    <div class="col grid-item">
      <div class="d-flex grid-item-title">
        <a class="link" [routerLink]="['/mock-http']">Mocking Http Services</a>
      </div>
      <img class="grid-item-icon" src="../../../assets/http.png">
    </div>
    <div class="col grid-item">
      <div class="d-flex grid-item-title">
        <a class="link" [routerLink]="['/data-table']">Using third party components</a>
      </div>
      <img class="grid-item-icon" src="../../../assets/data-table.png">
    </div>
  </div>
</div>
